/*  your css code here. If applicable */
.testimonials-container{
  padding:20px;
  background-color:#f5f5f5;
  width:80%;
}

.testimonial{
  padding:15px;
  border:1px solid #ddd;
  background-color:#fff;
  margin-bottom:15px;
}

.text{
  margin:0 0 10px 0;
}

.author{
  text-align:right;
  font-style:italic;
  margin:0;
}
