/*  your css code here. If applicable */
#testimonials{
  padding:20px;
  background-color:#f5f5f5;
}

.testimonial{
  padding:15px;
  border:1px solid #ddd;
  background-color:#fff;
}

.author{
  text-align:right;
  font-style:italic;
}
